#photo-container{
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  position: relative;
}

#right-arrow{
  font-size: 70px;
  font-weight: 1000;
  display: inline-block;
  color: grey;
  position: absolute;
  top: 40%;
  right: 50px;
}

#left-arrow{
  font-size: 70px;
  font-weight: 1000;
  display: inline-block;
  color: grey;
  position: absolute;
  top: 40%;
  left:50px;
}

#right-arrow:hover{
  color: white;
}

#left-arrow:hover{
  color: white;
}

#radio-buttons{
  
  display: inline-block;
  position: absolute;
  left: 49%;
  bottom: 7%;
  display: flex;
  align-items: center;
}
.radio-button{
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  border-color: white;
  background: rgba(0,0,0,0);
}

.radio-button:checked{
    background-color: white;
}

.radio-button:focus{
  outline: none;
}